<header class="bio">
  <div class="container">
    <div class="row">
      <div class="col-xs-6 col-sm-3 profile-img col-sm-push-8">
        <img src="{{ site.baseurl }}/assets/raphaelgrignani.jpg" alt="Rapha&euml;l Grignani" class="img-responsive img-circle">
      </div>
      <div class="col-xs-12 col-sm-7 col-sm-pull-3">
        <p class="text--lead">My name is Rapha&euml;l Grignani. I'm a designer living in San Francisco, currently Director of Product Design at <a href="https://messenger.com">Messenger</a>. Previously, I lead the Growth and Monetization design teams for <a href="http://creative.pinterest.com/">Pinterest</a> and cofounded/CEOed <a href="https://jauntful.com/">Jauntful</a>. I also designed products for Nokia, Method, Google, Heath Ceramics, amongst others.</p>
        <p class="text--lead">I co-founded the IxDA Interaction Awards to document and celebrate contemporary design.</p>
        <p class="text--lead">See my <a href="https://twitter.com/grignani">tweets</a>, <a href="http://instagram.com/raphaelgrignani">photos</a>, and <a href="https://www.pinterest.com/grignani">pins</a> for more personal details.</p>
        <p class="text--lead"><a href='javascript:noSpam("hei", "grignani.org?subject=My name is ...")'>Email me</a> for work and speaking inquiries, or just to say hello.</p>
      </div>

    </div>
  </div>
  <div class="scrollDown">
     <a href="#details"><i class="glyphicon glyphicon-chevron-down"></i></a>
  </div>
</header>
